html{
    background-image: url(ELDEN\ RING™-2025_01_02-01-39-57.jpg);
}
img{
    padding-top: 15px;
    padding-left: 120px;
    width: 430px; height: 270px;
}
h3{
    color: aliceblue;
    text-align: center;
}
p{
    font-size: 20px;
    color: blue;
    text-align: center;
}
